@import 'base/config';
@import 'componentes/header';
@import 'componentes/index';
@import 'componentes/contacto';
@import 'componentes/multimedia';
@import 'componentes/trabajos';
@import 'componentes/footer';
