* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.home {
    background-color: #5e5e5e;
}

a   {
    text-decoration: none;
}

h4 {
    color: chocolate;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 15px;
    text-align: center;
    font-size: 2vw;
}