/* FOOTER CSS */
footer {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    nav {
        position: fixed;
        bottom: 2%;
        right: 2%;

        ul {
            li {
                a {
                    img {
                        width: 35px;
                        padding-top: 25%;
                    }
                }
            }
        }
    }

    section {
        div {
            a {
                img {
                    padding-top: 10%;
                    padding-left: 10%;
                    width: 80px;
                }
            }
        }
    }
}